# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace the line below with your
# domain name.
:80

# Set this path to your site's directory.
root * /srv

# Enable the static file server.
file_server

@dynamic {
    path_regexp ^/[0-9]{6}
}

rewrite /create /index.html
rewrite /cheatsheet /index.html
rewrite @dynamic /index.html

reverse_proxy /games* http://backend:5000
reverse_proxy /connect* http://backend:5000
