@use "sass:color";

$font: "Roboto";

$cards: (
    "doppelganger": #00a0c0,
    "werewolf": black,
    "minion": #603000,
    "mason": #805080,
    "seer": #80c000,
    "robber": #800000,
    "troublemaker": #006000,
    "drunk": #c08000,
    "insomniac": #8080ff,
    "tanner": #ff6000,
    "hunter": #808000,
    "villager": #8000c0,
);

#app {
    font-family: $font;
    text-align: center;

    a > [disabled] {
        cursor: default;
    }

    .PlayerList {
        .Player {
            font-weight: bold;
            font-size: 1.25rem;
            margin-bottom: 0.5rem;

            &.unnamed {
                color: #00000040;
            }

            &.self:after {
                content: ' (you)';
                font-weight: normal;
                font-size: 1rem;
            }
        }
    }

    .GameConfiguration {
        max-width: 500px;
        margin: auto;

        &.confirm {
            .SelectableCard:not(.selected) {
                opacity: 0.25;
            }
        }
    }

    .SelectableCard {
        text-transform: capitalize;
        cursor: pointer;
        margin: 0.25rem;
        padding: 0.5rem;
        box-sizing: border-box;
        border: 2px solid;
        border-radius: 0.25rem;
        font-weight: bold;
        font-size: 1.25rem;
        display: inline-block;
        transition: background-color 0.1s, opacity 0.5s;
        user-select: none;
        background-color: white;

        @each $card, $color in $cards {
            &.#{$card} {
                border-color: $color;
                box-shadow: 0 2px 4px transparentize($color, 0.75);

                &:not(.disabled):hover {
                    background-color: transparentize($color, 0.875);
                }

                &.selected {
                    background-color: transparentize($color, 0.75);

                    &:not(.disabled):hover {
                        background-color: transparentize($color, 0.625);
                    }
                }
            }
        }

        &.disabled {
            cursor: default;
        }
    }

    .ViewCard {
        .card-reveal {
            font-size: 3rem;

            @each $card, $color in $cards {
                &.#{$card} {
                    text-shadow: 0 0px 16px transparentize($color, 0.5);
                    color: color.scale($color, $lightness: -50%);
                }
            }

            .card-name {
                text-transform: capitalize;
            }
        }
    }

    .tag {
        color: white;
        padding: 2px 6px;
        border-radius: 13px;
        font-weight: bold;
        text-transform: capitalize;

        @each $card, $color in $cards {
            &.#{$card} {
                background-color: $color;
            }
        }
    }

    .Discussion {
        .countdown {
            font-size: 8rem;
            margin-bottom: 0;
        }

        .hint {
            font-size: 1.5rem;
        }
    }

    .Results {
        h1 {
            font-size: 3rem;
        }

        .cards-reveal {
            div {
                display: inline-block;
                width: 50%;
                max-width: 400px;
            }
        }
    }
}
